# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# ???
dependency-reduced-pom.xml

# Elasticsearch data directory
data/

# Ant Build Artifacts
build/
jars/

sample-log.txt

*.gz
